USE [QLNH]
GO
/****** Object:  Table [dbo].[CONGVIEC]    Script Date: 04/18/2012 18:21:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CONGVIEC]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[CONGVIEC](
	[MACV] [nchar](10) NOT NULL,
	[TENCV] [nchar](10) NULL,
 CONSTRAINT [PK_CONGVIEC] PRIMARY KEY CLUSTERED 
(
	[MACV] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[CALAMVIEC]    Script Date: 04/18/2012 18:21:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CALAMVIEC]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[CALAMVIEC](
	[MACALAMVIEC] [nchar](10) NOT NULL,
	[THOIGIANBD] [nchar](10) NULL,
	[THOIGIANKT] [nchar](10) NULL,
 CONSTRAINT [PK_CALAMVIEC] PRIMARY KEY CLUSTERED 
(
	[MACALAMVIEC] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[BANAN]    Script Date: 04/18/2012 18:21:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BANAN]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[BANAN](
	[MABAN] [nchar](10) NOT NULL,
	[SOLUONG] [nchar](10) NULL,
 CONSTRAINT [PK_BANAN] PRIMARY KEY CLUSTERED 
(
	[MABAN] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[HINHTHUCTT]    Script Date: 04/18/2012 18:21:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[HINHTHUCTT]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[HINHTHUCTT](
	[MA_HINHTHUCTT] [nchar](10) NOT NULL,
	[TEN_HINHTHUCTT] [nchar](10) NULL,
 CONSTRAINT [PK_HINHTHUCTT] PRIMARY KEY CLUSTERED 
(
	[MA_HINHTHUCTT] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[LOAINHANVIEN]    Script Date: 04/18/2012 18:21:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LOAINHANVIEN]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[LOAINHANVIEN](
	[MALOAINV] [nchar](10) NOT NULL,
	[TENLOAINV] [nchar](10) NULL,
 CONSTRAINT [PK_LOAINHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MALOAINV] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[LOAINGUYENLIEU]    Script Date: 04/18/2012 18:21:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LOAINGUYENLIEU]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[LOAINGUYENLIEU](
	[MALOAINL] [nchar](10) NOT NULL,
	[TENLOAINL] [nchar](10) NULL,
 CONSTRAINT [PK_LOAINGUYENLIEU] PRIMARY KEY CLUSTERED 
(
	[MALOAINL] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[LOAI_MONAN]    Script Date: 04/18/2012 18:21:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LOAI_MONAN]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[LOAI_MONAN](
	[MALOAI] [nchar](10) NOT NULL,
	[TENLOAI] [nchar](10) NULL,
 CONSTRAINT [PK_LOAI_MONAN] PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[KHUVUC]    Script Date: 04/18/2012 18:21:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[KHUVUC]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[KHUVUC](
	[MAKV] [nchar](10) NOT NULL,
	[TENKV] [nchar](10) NULL,
 CONSTRAINT [PK_KHUVUC] PRIMARY KEY CLUSTERED 
(
	[MAKV] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[HOPDONG]    Script Date: 04/18/2012 18:21:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[HOPDONG]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[HOPDONG](
	[MAHOPDONG] [nchar](10) NOT NULL,
	[BEN_A] [nchar](10) NULL,
	[BEN_B] [nchar](10) NULL,
	[PHUONGTHUCTHANHTOAN] [nchar](10) NULL,
	[HINHTHUCTHANHTOAN] [nchar](10) NULL,
	[NHANVIENPHUTRACH] [nchar](10) NULL,
	[NGAYKYHOPDONG] [nchar](10) NULL,
	[NGAYHETHAN] [nchar](10) NULL,
 CONSTRAINT [PK_HOPDONG] PRIMARY KEY CLUSTERED 
(
	[MAHOPDONG] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[THUCDON]    Script Date: 04/18/2012 18:21:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[THUCDON]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[THUCDON](
	[MATD] [nchar](10) NOT NULL,
	[TENTHUCDON] [nchar](10) NULL,
	[MANH] [nchar](10) NULL,
	[NGAYLAP] [nchar](10) NULL,
 CONSTRAINT [PK_THUCDON] PRIMARY KEY CLUSTERED 
(
	[MATD] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[PHUONGTHUCTHANHTOAN]    Script Date: 04/18/2012 18:21:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PHUONGTHUCTHANHTOAN]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[PHUONGTHUCTHANHTOAN](
	[MAPHUONGTHUCTT] [nchar](10) NOT NULL,
	[TENPHUONGTHUCTT] [nchar](10) NULL,
 CONSTRAINT [PK_PHUONGTHUCTHANHTOAN] PRIMARY KEY CLUSTERED 
(
	[MAPHUONGTHUCTT] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[PHANQUYEN]    Script Date: 04/18/2012 18:21:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PHANQUYEN]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[PHANQUYEN](
	[MAQUYEN] [nchar](10) NOT NULL,
	[TENQUYEN] [nchar](10) NULL,
 CONSTRAINT [PK_PHANQUYEN] PRIMARY KEY CLUSTERED 
(
	[MAQUYEN] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[NHAHANG]    Script Date: 04/18/2012 18:21:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[NHAHANG]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[NHAHANG](
	[MANH] [nchar](10) NOT NULL,
	[TENNH] [nchar](10) NULL,
	[DIACHI] [nchar](10) NULL,
	[SDT] [nchar](10) NULL,
	[EMAIL] [nchar](10) NULL,
 CONSTRAINT [PK_NHAHANG] PRIMARY KEY CLUSTERED 
(
	[MANH] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[NHACC]    Script Date: 04/18/2012 18:21:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[NHACC]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[NHACC](
	[MANCC] [nchar](10) NOT NULL,
	[TENNCC] [nchar](10) NULL,
	[DIACHI] [nchar](10) NULL,
	[SDT] [nchar](10) NULL,
	[EMAIL] [nchar](10) NULL,
	[DINHMUC] [nchar](10) NULL,
	[TINHTRANG] [nchar](10) NULL,
	[CONGNO] [nchar](10) NULL,
	[HINHTHUCTT] [nchar](10) NULL,
	[PHUONGTHUCTT] [nchar](10) NULL,
	[SOTAIKHOAN] [nchar](10) NULL,
	[NGAYLAP] [nchar](10) NULL,
	[NGANHANG] [nchar](10) NULL,
	[TENLOAITHE] [nchar](10) NULL,
 CONSTRAINT [PK_NHACC] PRIMARY KEY CLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 04/18/2012 18:21:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[NHANVIEN]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [nchar](10) NOT NULL,
	[TENV] [nvarchar](30) NULL,
	[CMND] [nchar](10) NULL,
	[DIACHI] [nchar](10) NULL,
	[SDT] [nchar](10) NULL,
	[EMAIL] [nchar](10) NULL,
	[LOAINV] [nchar](10) NULL,
	[MANH] [nchar](10) NULL,
	[LUONG] [nchar](10) NULL,
	[THUONG] [nchar](10) NULL,
	[MAQUYEN] [nchar](10) NULL,
	[PASSWORD] [nchar](10) NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[KHUVUC_BANAN]    Script Date: 04/18/2012 18:21:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[KHUVUC_BANAN]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[KHUVUC_BANAN](
	[MAKV] [nchar](10) NOT NULL,
	[MABAN] [nchar](10) NOT NULL,
	[GIATHANH] [nchar](10) NULL,
 CONSTRAINT [PK_KHUVUC_BANAN] PRIMARY KEY CLUSTERED 
(
	[MAKV] ASC,
	[MABAN] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[NGUYENLIEU]    Script Date: 04/18/2012 18:21:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[NGUYENLIEU]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[NGUYENLIEU](
	[MANL] [nchar](10) NOT NULL,
	[TENNL] [nchar](10) NULL,
	[LOAINL] [nchar](10) NULL,
 CONSTRAINT [PK_MALOAINGUYENLIEU] PRIMARY KEY CLUSTERED 
(
	[MANL] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[MONAN]    Script Date: 04/18/2012 18:21:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MONAN]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[MONAN](
	[MA_MONAN] [nchar](10) NOT NULL,
	[TEN_MONAN] [nchar](10) NULL,
	[LOAI_MONAN] [nchar](10) NULL,
 CONSTRAINT [PK_MONAN] PRIMARY KEY CLUSTERED 
(
	[MA_MONAN] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 04/18/2012 18:21:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[HOADON]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[HOADON](
	[MAHOADON] [nchar](10) NOT NULL,
	[TONGTIEN] [nchar](10) NULL,
	[NGAYLAP] [nchar](10) NULL,
	[MGUOILAP] [nchar](10) NULL,
	[MANH] [nchar](10) NULL,
 CONSTRAINT [PK_HOADON] PRIMARY KEY CLUSTERED 
(
	[MAHOADON] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[LICHCONGVIEC]    Script Date: 04/18/2012 18:21:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LICHCONGVIEC]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[LICHCONGVIEC](
	[NGAYLAM] [nchar](10) NOT NULL,
	[CALAM] [nchar](10) NOT NULL,
	[MANV] [nchar](10) NULL,
 CONSTRAINT [PK_LICHCONGVIEC] PRIMARY KEY CLUSTERED 
(
	[NGAYLAM] ASC,
	[CALAM] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[DANHMUCNCC]    Script Date: 04/18/2012 18:21:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DANHMUCNCC]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[DANHMUCNCC](
	[MANCC] [nchar](10) NOT NULL,
	[MANL] [nchar](10) NOT NULL,
	[SOLUONG] [nchar](10) NULL,
 CONSTRAINT [PK_DANHMUCNCC] PRIMARY KEY CLUSTERED 
(
	[MANCC] ASC,
	[MANL] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[DANGNHAP]    Script Date: 04/18/2012 18:21:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DANGNHAP]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[DANGNHAP](
	[USERNAME] [nchar](10) NOT NULL,
	[PASSWORD] [nchar](10) NOT NULL,
 CONSTRAINT [PK_DANGNHAP] PRIMARY KEY CLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[CHUYENCONGTAC]    Script Date: 04/18/2012 18:21:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CHUYENCONGTAC]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[CHUYENCONGTAC](
	[QUYETDINHSO] [nchar](10) NOT NULL,
	[NGAYRAQUYETDINH] [nchar](10) NULL,
	[MANV] [nchar](10) NULL,
	[NOIDI] [nchar](10) NULL,
	[NOIDEN] [nchar](10) NULL,
 CONSTRAINT [PK_CHUYENCONGTAC] PRIMARY KEY CLUSTERED 
(
	[QUYETDINHSO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[CHITIETTHUCDON_MONAN]    Script Date: 04/18/2012 18:21:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CHITIETTHUCDON_MONAN]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[CHITIETTHUCDON_MONAN](
	[MACHITIETTD_MA] [nchar](10) NOT NULL,
	[MATD] [nchar](10) NOT NULL,
	[MA_MONAN] [nchar](10) NOT NULL,
	[DONGIA] [nchar](10) NULL,
 CONSTRAINT [PK_CHITIETTHUCDON_MONAN_1] PRIMARY KEY CLUSTERED 
(
	[MACHITIETTD_MA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[CHITIETKHOHANG]    Script Date: 04/18/2012 18:21:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CHITIETKHOHANG]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[CHITIETKHOHANG](
	[MANH] [nchar](10) NOT NULL,
	[MANL] [nchar](10) NOT NULL,
	[SOLUONG] [nchar](10) NULL,
	[SUCCHUA] [nchar](10) NULL,
 CONSTRAINT [PK_CHITIETKHOHANG] PRIMARY KEY CLUSTERED 
(
	[MANH] ASC,
	[MANL] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[CHITIETHOPDONG]    Script Date: 04/18/2012 18:21:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CHITIETHOPDONG]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[CHITIETHOPDONG](
	[MAHOPDONG] [nchar](10) NOT NULL,
	[MANL] [nchar](10) NOT NULL,
	[SOLUONGMAX] [nchar](10) NULL,
	[SOLUONGMIN] [nchar](10) NULL,
	[DONGIA] [nchar](10) NULL,
	[XULY] [nchar](10) NULL,
 CONSTRAINT [PK_CHITIETHOPDONG] PRIMARY KEY CLUSTERED 
(
	[MAHOPDONG] ASC,
	[MANL] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[PHIEUDATCHO]    Script Date: 04/18/2012 18:21:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PHIEUDATCHO]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[PHIEUDATCHO](
	[MAPHIEU] [nchar](10) NOT NULL,
	[NGAYLAP] [nchar](10) NULL,
	[NGUOITIEPNHAN] [nchar](10) NULL,
	[HOTENKH] [nchar](10) NULL,
	[CMND] [nchar](10) NULL,
	[SDT] [nchar](10) NULL,
	[MAKV] [nchar](10) NULL,
	[MABANA] [nchar](10) NULL,
	[MANH] [nchar](10) NULL,
 CONSTRAINT [PK_PHIEUDATCHO] PRIMARY KEY CLUSTERED 
(
	[MAPHIEU] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[PHANCONG]    Script Date: 04/18/2012 18:21:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PHANCONG]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[PHANCONG](
	[MACV] [nchar](10) NOT NULL,
	[MANV] [nchar](10) NOT NULL,
	[THOIGIANBD] [nchar](10) NULL,
	[THOIGIANKT] [nchar](10) NULL,
 CONSTRAINT [PK_PHANCONG] PRIMARY KEY CLUSTERED 
(
	[MACV] ASC,
	[MANV] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[NGUYENLIEU_MONAN]    Script Date: 04/18/2012 18:21:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[NGUYENLIEU_MONAN]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[NGUYENLIEU_MONAN](
	[MA_MONAN] [nchar](10) NOT NULL,
	[MANL] [nchar](10) NOT NULL,
	[SOLUONG] [nchar](10) NULL,
 CONSTRAINT [PK_NGUYENLIEU_MONAN] PRIMARY KEY CLUSTERED 
(
	[MA_MONAN] ASC,
	[MANL] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[PHIEUNHAPHANG]    Script Date: 04/18/2012 18:21:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PHIEUNHAPHANG]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[PHIEUNHAPHANG](
	[MAPHIEUNHAP] [nchar](10) NOT NULL,
	[MAHOPDONG] [nchar](10) NULL,
	[MANL] [nchar](10) NULL,
	[SOLUONGMAX] [nchar](10) NULL,
	[SOLUOGNMIN] [nchar](10) NULL,
	[DONGIA] [nchar](10) NULL,
	[XULY] [nchar](10) NULL,
 CONSTRAINT [PK_PHIEUNHAPHANG] PRIMARY KEY CLUSTERED 
(
	[MAPHIEUNHAP] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[CHITIETHOADON]    Script Date: 04/18/2012 18:21:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CHITIETHOADON]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[CHITIETHOADON](
	[MAHD] [nchar](10) NOT NULL,
	[MACHITIETTD_MA] [nchar](10) NOT NULL,
	[SOLUONG] [nchar](10) NULL,
 CONSTRAINT [PK_CHITIETHOADON] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC,
	[MACHITIETTD_MA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  ForeignKey [FK_CHITIETHOADON_CHITIETTHUCDON_MONAN]    Script Date: 04/18/2012 18:21:37 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CHITIETHOADON_CHITIETTHUCDON_MONAN]') AND parent_object_id = OBJECT_ID(N'[dbo].[CHITIETHOADON]'))
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHOADON_CHITIETTHUCDON_MONAN] FOREIGN KEY([MACHITIETTD_MA])
REFERENCES [dbo].[CHITIETTHUCDON_MONAN] ([MACHITIETTD_MA])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CHITIETHOADON_CHITIETTHUCDON_MONAN]') AND parent_object_id = OBJECT_ID(N'[dbo].[CHITIETHOADON]'))
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [FK_CHITIETHOADON_CHITIETTHUCDON_MONAN]
GO
/****** Object:  ForeignKey [FK_CHITIETHOADON_HOADON]    Script Date: 04/18/2012 18:21:37 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CHITIETHOADON_HOADON]') AND parent_object_id = OBJECT_ID(N'[dbo].[CHITIETHOADON]'))
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHOADON_HOADON] FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOADON] ([MAHOADON])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CHITIETHOADON_HOADON]') AND parent_object_id = OBJECT_ID(N'[dbo].[CHITIETHOADON]'))
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [FK_CHITIETHOADON_HOADON]
GO
/****** Object:  ForeignKey [FK_CHITIETHOPDONG_HOPDONG]    Script Date: 04/18/2012 18:21:37 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CHITIETHOPDONG_HOPDONG]') AND parent_object_id = OBJECT_ID(N'[dbo].[CHITIETHOPDONG]'))
ALTER TABLE [dbo].[CHITIETHOPDONG]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHOPDONG_HOPDONG] FOREIGN KEY([MAHOPDONG])
REFERENCES [dbo].[HOPDONG] ([MAHOPDONG])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CHITIETHOPDONG_HOPDONG]') AND parent_object_id = OBJECT_ID(N'[dbo].[CHITIETHOPDONG]'))
ALTER TABLE [dbo].[CHITIETHOPDONG] CHECK CONSTRAINT [FK_CHITIETHOPDONG_HOPDONG]
GO
/****** Object:  ForeignKey [FK_CHITIETHOPDONG_NGUYENLIEU]    Script Date: 04/18/2012 18:21:37 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CHITIETHOPDONG_NGUYENLIEU]') AND parent_object_id = OBJECT_ID(N'[dbo].[CHITIETHOPDONG]'))
ALTER TABLE [dbo].[CHITIETHOPDONG]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHOPDONG_NGUYENLIEU] FOREIGN KEY([MANL])
REFERENCES [dbo].[NGUYENLIEU] ([MANL])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CHITIETHOPDONG_NGUYENLIEU]') AND parent_object_id = OBJECT_ID(N'[dbo].[CHITIETHOPDONG]'))
ALTER TABLE [dbo].[CHITIETHOPDONG] CHECK CONSTRAINT [FK_CHITIETHOPDONG_NGUYENLIEU]
GO
/****** Object:  ForeignKey [FK_CHITIETKHOHANG_NGUYENLIEU]    Script Date: 04/18/2012 18:21:37 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CHITIETKHOHANG_NGUYENLIEU]') AND parent_object_id = OBJECT_ID(N'[dbo].[CHITIETKHOHANG]'))
ALTER TABLE [dbo].[CHITIETKHOHANG]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETKHOHANG_NGUYENLIEU] FOREIGN KEY([MANL])
REFERENCES [dbo].[NGUYENLIEU] ([MANL])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CHITIETKHOHANG_NGUYENLIEU]') AND parent_object_id = OBJECT_ID(N'[dbo].[CHITIETKHOHANG]'))
ALTER TABLE [dbo].[CHITIETKHOHANG] CHECK CONSTRAINT [FK_CHITIETKHOHANG_NGUYENLIEU]
GO
/****** Object:  ForeignKey [FK_CHITIETKHOHANG_NHAHANG]    Script Date: 04/18/2012 18:21:37 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CHITIETKHOHANG_NHAHANG]') AND parent_object_id = OBJECT_ID(N'[dbo].[CHITIETKHOHANG]'))
ALTER TABLE [dbo].[CHITIETKHOHANG]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETKHOHANG_NHAHANG] FOREIGN KEY([MANH])
REFERENCES [dbo].[NHAHANG] ([MANH])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CHITIETKHOHANG_NHAHANG]') AND parent_object_id = OBJECT_ID(N'[dbo].[CHITIETKHOHANG]'))
ALTER TABLE [dbo].[CHITIETKHOHANG] CHECK CONSTRAINT [FK_CHITIETKHOHANG_NHAHANG]
GO
/****** Object:  ForeignKey [FK_CHITIETTHUCDON_MONAN_MONAN]    Script Date: 04/18/2012 18:21:37 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CHITIETTHUCDON_MONAN_MONAN]') AND parent_object_id = OBJECT_ID(N'[dbo].[CHITIETTHUCDON_MONAN]'))
ALTER TABLE [dbo].[CHITIETTHUCDON_MONAN]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETTHUCDON_MONAN_MONAN] FOREIGN KEY([MA_MONAN])
REFERENCES [dbo].[MONAN] ([MA_MONAN])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CHITIETTHUCDON_MONAN_MONAN]') AND parent_object_id = OBJECT_ID(N'[dbo].[CHITIETTHUCDON_MONAN]'))
ALTER TABLE [dbo].[CHITIETTHUCDON_MONAN] CHECK CONSTRAINT [FK_CHITIETTHUCDON_MONAN_MONAN]
GO
/****** Object:  ForeignKey [FK_CHITIETTHUCDON_MONAN_THUCDON]    Script Date: 04/18/2012 18:21:37 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CHITIETTHUCDON_MONAN_THUCDON]') AND parent_object_id = OBJECT_ID(N'[dbo].[CHITIETTHUCDON_MONAN]'))
ALTER TABLE [dbo].[CHITIETTHUCDON_MONAN]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETTHUCDON_MONAN_THUCDON] FOREIGN KEY([MATD])
REFERENCES [dbo].[THUCDON] ([MATD])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CHITIETTHUCDON_MONAN_THUCDON]') AND parent_object_id = OBJECT_ID(N'[dbo].[CHITIETTHUCDON_MONAN]'))
ALTER TABLE [dbo].[CHITIETTHUCDON_MONAN] CHECK CONSTRAINT [FK_CHITIETTHUCDON_MONAN_THUCDON]
GO
/****** Object:  ForeignKey [FK_CHUYENCONGTAC_NHAHANG]    Script Date: 04/18/2012 18:21:37 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CHUYENCONGTAC_NHAHANG]') AND parent_object_id = OBJECT_ID(N'[dbo].[CHUYENCONGTAC]'))
ALTER TABLE [dbo].[CHUYENCONGTAC]  WITH CHECK ADD  CONSTRAINT [FK_CHUYENCONGTAC_NHAHANG] FOREIGN KEY([NOIDI])
REFERENCES [dbo].[NHAHANG] ([MANH])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CHUYENCONGTAC_NHAHANG]') AND parent_object_id = OBJECT_ID(N'[dbo].[CHUYENCONGTAC]'))
ALTER TABLE [dbo].[CHUYENCONGTAC] CHECK CONSTRAINT [FK_CHUYENCONGTAC_NHAHANG]
GO
/****** Object:  ForeignKey [FK_CHUYENCONGTAC_NHAHANG1]    Script Date: 04/18/2012 18:21:37 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CHUYENCONGTAC_NHAHANG1]') AND parent_object_id = OBJECT_ID(N'[dbo].[CHUYENCONGTAC]'))
ALTER TABLE [dbo].[CHUYENCONGTAC]  WITH CHECK ADD  CONSTRAINT [FK_CHUYENCONGTAC_NHAHANG1] FOREIGN KEY([NOIDEN])
REFERENCES [dbo].[NHAHANG] ([MANH])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CHUYENCONGTAC_NHAHANG1]') AND parent_object_id = OBJECT_ID(N'[dbo].[CHUYENCONGTAC]'))
ALTER TABLE [dbo].[CHUYENCONGTAC] CHECK CONSTRAINT [FK_CHUYENCONGTAC_NHAHANG1]
GO
/****** Object:  ForeignKey [FK_CHUYENCONGTAC_NHANVIEN]    Script Date: 04/18/2012 18:21:37 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CHUYENCONGTAC_NHANVIEN]') AND parent_object_id = OBJECT_ID(N'[dbo].[CHUYENCONGTAC]'))
ALTER TABLE [dbo].[CHUYENCONGTAC]  WITH CHECK ADD  CONSTRAINT [FK_CHUYENCONGTAC_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CHUYENCONGTAC_NHANVIEN]') AND parent_object_id = OBJECT_ID(N'[dbo].[CHUYENCONGTAC]'))
ALTER TABLE [dbo].[CHUYENCONGTAC] CHECK CONSTRAINT [FK_CHUYENCONGTAC_NHANVIEN]
GO
/****** Object:  ForeignKey [FK_DANGNHAP_NHANVIEN]    Script Date: 04/18/2012 18:21:37 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DANGNHAP_NHANVIEN]') AND parent_object_id = OBJECT_ID(N'[dbo].[DANGNHAP]'))
ALTER TABLE [dbo].[DANGNHAP]  WITH CHECK ADD  CONSTRAINT [FK_DANGNHAP_NHANVIEN] FOREIGN KEY([USERNAME])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DANGNHAP_NHANVIEN]') AND parent_object_id = OBJECT_ID(N'[dbo].[DANGNHAP]'))
ALTER TABLE [dbo].[DANGNHAP] CHECK CONSTRAINT [FK_DANGNHAP_NHANVIEN]
GO
/****** Object:  ForeignKey [FK_DANHMUCNCC_NGUYENLIEU]    Script Date: 04/18/2012 18:21:37 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DANHMUCNCC_NGUYENLIEU]') AND parent_object_id = OBJECT_ID(N'[dbo].[DANHMUCNCC]'))
ALTER TABLE [dbo].[DANHMUCNCC]  WITH CHECK ADD  CONSTRAINT [FK_DANHMUCNCC_NGUYENLIEU] FOREIGN KEY([MANL])
REFERENCES [dbo].[NGUYENLIEU] ([MANL])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DANHMUCNCC_NGUYENLIEU]') AND parent_object_id = OBJECT_ID(N'[dbo].[DANHMUCNCC]'))
ALTER TABLE [dbo].[DANHMUCNCC] CHECK CONSTRAINT [FK_DANHMUCNCC_NGUYENLIEU]
GO
/****** Object:  ForeignKey [FK_DANHMUCNCC_NHACC]    Script Date: 04/18/2012 18:21:37 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DANHMUCNCC_NHACC]') AND parent_object_id = OBJECT_ID(N'[dbo].[DANHMUCNCC]'))
ALTER TABLE [dbo].[DANHMUCNCC]  WITH CHECK ADD  CONSTRAINT [FK_DANHMUCNCC_NHACC] FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHACC] ([MANCC])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DANHMUCNCC_NHACC]') AND parent_object_id = OBJECT_ID(N'[dbo].[DANHMUCNCC]'))
ALTER TABLE [dbo].[DANHMUCNCC] CHECK CONSTRAINT [FK_DANHMUCNCC_NHACC]
GO
/****** Object:  ForeignKey [FK_HOADON_NHAHANG]    Script Date: 04/18/2012 18:21:37 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_HOADON_NHAHANG]') AND parent_object_id = OBJECT_ID(N'[dbo].[HOADON]'))
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_NHAHANG] FOREIGN KEY([MANH])
REFERENCES [dbo].[NHAHANG] ([MANH])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_HOADON_NHAHANG]') AND parent_object_id = OBJECT_ID(N'[dbo].[HOADON]'))
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_NHAHANG]
GO
/****** Object:  ForeignKey [FK_KHUVUC_BANAN_BANAN]    Script Date: 04/18/2012 18:21:37 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_KHUVUC_BANAN_BANAN]') AND parent_object_id = OBJECT_ID(N'[dbo].[KHUVUC_BANAN]'))
ALTER TABLE [dbo].[KHUVUC_BANAN]  WITH CHECK ADD  CONSTRAINT [FK_KHUVUC_BANAN_BANAN] FOREIGN KEY([MABAN])
REFERENCES [dbo].[BANAN] ([MABAN])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_KHUVUC_BANAN_BANAN]') AND parent_object_id = OBJECT_ID(N'[dbo].[KHUVUC_BANAN]'))
ALTER TABLE [dbo].[KHUVUC_BANAN] CHECK CONSTRAINT [FK_KHUVUC_BANAN_BANAN]
GO
/****** Object:  ForeignKey [FK_KHUVUC_BANAN_KHUVUC]    Script Date: 04/18/2012 18:21:37 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_KHUVUC_BANAN_KHUVUC]') AND parent_object_id = OBJECT_ID(N'[dbo].[KHUVUC_BANAN]'))
ALTER TABLE [dbo].[KHUVUC_BANAN]  WITH CHECK ADD  CONSTRAINT [FK_KHUVUC_BANAN_KHUVUC] FOREIGN KEY([MAKV])
REFERENCES [dbo].[KHUVUC] ([MAKV])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_KHUVUC_BANAN_KHUVUC]') AND parent_object_id = OBJECT_ID(N'[dbo].[KHUVUC_BANAN]'))
ALTER TABLE [dbo].[KHUVUC_BANAN] CHECK CONSTRAINT [FK_KHUVUC_BANAN_KHUVUC]
GO
/****** Object:  ForeignKey [FK_LICHCONGVIEC_CALAMVIEC]    Script Date: 04/18/2012 18:21:37 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_LICHCONGVIEC_CALAMVIEC]') AND parent_object_id = OBJECT_ID(N'[dbo].[LICHCONGVIEC]'))
ALTER TABLE [dbo].[LICHCONGVIEC]  WITH CHECK ADD  CONSTRAINT [FK_LICHCONGVIEC_CALAMVIEC] FOREIGN KEY([CALAM])
REFERENCES [dbo].[CALAMVIEC] ([MACALAMVIEC])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_LICHCONGVIEC_CALAMVIEC]') AND parent_object_id = OBJECT_ID(N'[dbo].[LICHCONGVIEC]'))
ALTER TABLE [dbo].[LICHCONGVIEC] CHECK CONSTRAINT [FK_LICHCONGVIEC_CALAMVIEC]
GO
/****** Object:  ForeignKey [FK_LICHCONGVIEC_NHANVIEN]    Script Date: 04/18/2012 18:21:37 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_LICHCONGVIEC_NHANVIEN]') AND parent_object_id = OBJECT_ID(N'[dbo].[LICHCONGVIEC]'))
ALTER TABLE [dbo].[LICHCONGVIEC]  WITH CHECK ADD  CONSTRAINT [FK_LICHCONGVIEC_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_LICHCONGVIEC_NHANVIEN]') AND parent_object_id = OBJECT_ID(N'[dbo].[LICHCONGVIEC]'))
ALTER TABLE [dbo].[LICHCONGVIEC] CHECK CONSTRAINT [FK_LICHCONGVIEC_NHANVIEN]
GO
/****** Object:  ForeignKey [FK_MONAN_LOAI_MONAN]    Script Date: 04/18/2012 18:21:37 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_MONAN_LOAI_MONAN]') AND parent_object_id = OBJECT_ID(N'[dbo].[MONAN]'))
ALTER TABLE [dbo].[MONAN]  WITH CHECK ADD  CONSTRAINT [FK_MONAN_LOAI_MONAN] FOREIGN KEY([LOAI_MONAN])
REFERENCES [dbo].[LOAI_MONAN] ([MALOAI])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_MONAN_LOAI_MONAN]') AND parent_object_id = OBJECT_ID(N'[dbo].[MONAN]'))
ALTER TABLE [dbo].[MONAN] CHECK CONSTRAINT [FK_MONAN_LOAI_MONAN]
GO
/****** Object:  ForeignKey [FK_NGUYENLIEU_LOAINGUYENLIEU]    Script Date: 04/18/2012 18:21:37 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_NGUYENLIEU_LOAINGUYENLIEU]') AND parent_object_id = OBJECT_ID(N'[dbo].[NGUYENLIEU]'))
ALTER TABLE [dbo].[NGUYENLIEU]  WITH CHECK ADD  CONSTRAINT [FK_NGUYENLIEU_LOAINGUYENLIEU] FOREIGN KEY([LOAINL])
REFERENCES [dbo].[LOAINGUYENLIEU] ([MALOAINL])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_NGUYENLIEU_LOAINGUYENLIEU]') AND parent_object_id = OBJECT_ID(N'[dbo].[NGUYENLIEU]'))
ALTER TABLE [dbo].[NGUYENLIEU] CHECK CONSTRAINT [FK_NGUYENLIEU_LOAINGUYENLIEU]
GO
/****** Object:  ForeignKey [FK_NGUYENLIEU_MONAN_MONAN]    Script Date: 04/18/2012 18:21:37 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_NGUYENLIEU_MONAN_MONAN]') AND parent_object_id = OBJECT_ID(N'[dbo].[NGUYENLIEU_MONAN]'))
ALTER TABLE [dbo].[NGUYENLIEU_MONAN]  WITH CHECK ADD  CONSTRAINT [FK_NGUYENLIEU_MONAN_MONAN] FOREIGN KEY([MA_MONAN])
REFERENCES [dbo].[MONAN] ([MA_MONAN])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_NGUYENLIEU_MONAN_MONAN]') AND parent_object_id = OBJECT_ID(N'[dbo].[NGUYENLIEU_MONAN]'))
ALTER TABLE [dbo].[NGUYENLIEU_MONAN] CHECK CONSTRAINT [FK_NGUYENLIEU_MONAN_MONAN]
GO
/****** Object:  ForeignKey [FK_NGUYENLIEU_MONAN_NGUYENLIEU]    Script Date: 04/18/2012 18:21:37 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_NGUYENLIEU_MONAN_NGUYENLIEU]') AND parent_object_id = OBJECT_ID(N'[dbo].[NGUYENLIEU_MONAN]'))
ALTER TABLE [dbo].[NGUYENLIEU_MONAN]  WITH CHECK ADD  CONSTRAINT [FK_NGUYENLIEU_MONAN_NGUYENLIEU] FOREIGN KEY([MANL])
REFERENCES [dbo].[NGUYENLIEU] ([MANL])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_NGUYENLIEU_MONAN_NGUYENLIEU]') AND parent_object_id = OBJECT_ID(N'[dbo].[NGUYENLIEU_MONAN]'))
ALTER TABLE [dbo].[NGUYENLIEU_MONAN] CHECK CONSTRAINT [FK_NGUYENLIEU_MONAN_NGUYENLIEU]
GO
/****** Object:  ForeignKey [FK_NHACC_HINHTHUCTT]    Script Date: 04/18/2012 18:21:37 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_NHACC_HINHTHUCTT]') AND parent_object_id = OBJECT_ID(N'[dbo].[NHACC]'))
ALTER TABLE [dbo].[NHACC]  WITH CHECK ADD  CONSTRAINT [FK_NHACC_HINHTHUCTT] FOREIGN KEY([HINHTHUCTT])
REFERENCES [dbo].[HINHTHUCTT] ([MA_HINHTHUCTT])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_NHACC_HINHTHUCTT]') AND parent_object_id = OBJECT_ID(N'[dbo].[NHACC]'))
ALTER TABLE [dbo].[NHACC] CHECK CONSTRAINT [FK_NHACC_HINHTHUCTT]
GO
/****** Object:  ForeignKey [FK_NHACC_PHUONGTHUCTHANHTOAN]    Script Date: 04/18/2012 18:21:37 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_NHACC_PHUONGTHUCTHANHTOAN]') AND parent_object_id = OBJECT_ID(N'[dbo].[NHACC]'))
ALTER TABLE [dbo].[NHACC]  WITH CHECK ADD  CONSTRAINT [FK_NHACC_PHUONGTHUCTHANHTOAN] FOREIGN KEY([PHUONGTHUCTT])
REFERENCES [dbo].[PHUONGTHUCTHANHTOAN] ([MAPHUONGTHUCTT])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_NHACC_PHUONGTHUCTHANHTOAN]') AND parent_object_id = OBJECT_ID(N'[dbo].[NHACC]'))
ALTER TABLE [dbo].[NHACC] CHECK CONSTRAINT [FK_NHACC_PHUONGTHUCTHANHTOAN]
GO
/****** Object:  ForeignKey [FK_NHANVIEN_LOAINHANVIEN]    Script Date: 04/18/2012 18:21:37 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_NHANVIEN_LOAINHANVIEN]') AND parent_object_id = OBJECT_ID(N'[dbo].[NHANVIEN]'))
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_LOAINHANVIEN] FOREIGN KEY([LOAINV])
REFERENCES [dbo].[LOAINHANVIEN] ([MALOAINV])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_NHANVIEN_LOAINHANVIEN]') AND parent_object_id = OBJECT_ID(N'[dbo].[NHANVIEN]'))
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_LOAINHANVIEN]
GO
/****** Object:  ForeignKey [FK_NHANVIEN_NHAHANG]    Script Date: 04/18/2012 18:21:37 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_NHANVIEN_NHAHANG]') AND parent_object_id = OBJECT_ID(N'[dbo].[NHANVIEN]'))
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_NHAHANG] FOREIGN KEY([MANH])
REFERENCES [dbo].[NHAHANG] ([MANH])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_NHANVIEN_NHAHANG]') AND parent_object_id = OBJECT_ID(N'[dbo].[NHANVIEN]'))
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_NHAHANG]
GO
/****** Object:  ForeignKey [FK_NHANVIEN_PHANQUYEN]    Script Date: 04/18/2012 18:21:37 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_NHANVIEN_PHANQUYEN]') AND parent_object_id = OBJECT_ID(N'[dbo].[NHANVIEN]'))
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_PHANQUYEN] FOREIGN KEY([MAQUYEN])
REFERENCES [dbo].[PHANQUYEN] ([MAQUYEN])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_NHANVIEN_PHANQUYEN]') AND parent_object_id = OBJECT_ID(N'[dbo].[NHANVIEN]'))
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_PHANQUYEN]
GO
/****** Object:  ForeignKey [FK_PHANCONG_CONGVIEC]    Script Date: 04/18/2012 18:21:37 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PHANCONG_CONGVIEC]') AND parent_object_id = OBJECT_ID(N'[dbo].[PHANCONG]'))
ALTER TABLE [dbo].[PHANCONG]  WITH CHECK ADD  CONSTRAINT [FK_PHANCONG_CONGVIEC] FOREIGN KEY([MACV])
REFERENCES [dbo].[CONGVIEC] ([MACV])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PHANCONG_CONGVIEC]') AND parent_object_id = OBJECT_ID(N'[dbo].[PHANCONG]'))
ALTER TABLE [dbo].[PHANCONG] CHECK CONSTRAINT [FK_PHANCONG_CONGVIEC]
GO
/****** Object:  ForeignKey [FK_PHANCONG_NHANVIEN]    Script Date: 04/18/2012 18:21:37 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PHANCONG_NHANVIEN]') AND parent_object_id = OBJECT_ID(N'[dbo].[PHANCONG]'))
ALTER TABLE [dbo].[PHANCONG]  WITH CHECK ADD  CONSTRAINT [FK_PHANCONG_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PHANCONG_NHANVIEN]') AND parent_object_id = OBJECT_ID(N'[dbo].[PHANCONG]'))
ALTER TABLE [dbo].[PHANCONG] CHECK CONSTRAINT [FK_PHANCONG_NHANVIEN]
GO
/****** Object:  ForeignKey [FK_PHIEUDATCHO_KHUVUC]    Script Date: 04/18/2012 18:21:37 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PHIEUDATCHO_KHUVUC]') AND parent_object_id = OBJECT_ID(N'[dbo].[PHIEUDATCHO]'))
ALTER TABLE [dbo].[PHIEUDATCHO]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUDATCHO_KHUVUC] FOREIGN KEY([MAKV])
REFERENCES [dbo].[KHUVUC] ([MAKV])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PHIEUDATCHO_KHUVUC]') AND parent_object_id = OBJECT_ID(N'[dbo].[PHIEUDATCHO]'))
ALTER TABLE [dbo].[PHIEUDATCHO] CHECK CONSTRAINT [FK_PHIEUDATCHO_KHUVUC]
GO
/****** Object:  ForeignKey [FK_PHIEUDATCHO_NHAHANG]    Script Date: 04/18/2012 18:21:37 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PHIEUDATCHO_NHAHANG]') AND parent_object_id = OBJECT_ID(N'[dbo].[PHIEUDATCHO]'))
ALTER TABLE [dbo].[PHIEUDATCHO]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUDATCHO_NHAHANG] FOREIGN KEY([MANH])
REFERENCES [dbo].[NHAHANG] ([MANH])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PHIEUDATCHO_NHAHANG]') AND parent_object_id = OBJECT_ID(N'[dbo].[PHIEUDATCHO]'))
ALTER TABLE [dbo].[PHIEUDATCHO] CHECK CONSTRAINT [FK_PHIEUDATCHO_NHAHANG]
GO
/****** Object:  ForeignKey [FK_PHIEUDATCHO_NHANVIEN]    Script Date: 04/18/2012 18:21:37 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PHIEUDATCHO_NHANVIEN]') AND parent_object_id = OBJECT_ID(N'[dbo].[PHIEUDATCHO]'))
ALTER TABLE [dbo].[PHIEUDATCHO]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUDATCHO_NHANVIEN] FOREIGN KEY([NGUOITIEPNHAN])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PHIEUDATCHO_NHANVIEN]') AND parent_object_id = OBJECT_ID(N'[dbo].[PHIEUDATCHO]'))
ALTER TABLE [dbo].[PHIEUDATCHO] CHECK CONSTRAINT [FK_PHIEUDATCHO_NHANVIEN]
GO
/****** Object:  ForeignKey [FK_PHIEUNHAPHANG_CHITIETHOPONG]    Script Date: 04/18/2012 18:21:37 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PHIEUNHAPHANG_CHITIETHOPONG]') AND parent_object_id = OBJECT_ID(N'[dbo].[PHIEUNHAPHANG]'))
ALTER TABLE [dbo].[PHIEUNHAPHANG]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAPHANG_CHITIETHOPONG] FOREIGN KEY([MAHOPDONG], [MANL])
REFERENCES [dbo].[CHITIETHOPDONG] ([MAHOPDONG], [MANL])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PHIEUNHAPHANG_CHITIETHOPONG]') AND parent_object_id = OBJECT_ID(N'[dbo].[PHIEUNHAPHANG]'))
ALTER TABLE [dbo].[PHIEUNHAPHANG] CHECK CONSTRAINT [FK_PHIEUNHAPHANG_CHITIETHOPONG]
GO
